<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.microbotic.temperature">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera2" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".ui.activities.TemperatureHistoryActivity"
            android:label="@string/title_activity_notedtemperature"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".ui.activities.TemperatureActivity"
            android:label="@string/title_activity_notedtemperature"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".ui.activities.StudentsActivity"
            android:label="@string/title_activity_listofstudents"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".ui.activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>

        <activity
            android:name=".ui.activities.LoginActivity"
            android:label="LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activities.TemperatureActivityOld"
            android:label="MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="com.nstudio.camera.CameraActivity" />

        <service android:name=".services.BaseReceiveService" />

        <service android:name=".services.CheckEthernetService" />

        <service
            android:name=".services.NavigationService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name="com.jumper.bluetoothdevicelib.service.BluetoothLeService"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>